/* Estilos generales */
div{background-image: url(/src/assets/img/avion.jpeg);}

*{
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #330480;
    color: #e9e6e6;
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: sans-serif;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ebe4e4;
    font-family: sans-serif;

}

/* Estilos para secciones */
section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
}

/* Estilos para el formulario de reservas */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="date"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
section.vuelos{
    align-items: center;
}