<div><img src="/src/assets/img/aerolinea.JPG" alt="Imagen de fondo">
<img src="/src/assets/img/avion.jpeg" alt="igm">
</div>
<header>
    <h1>Volando Aerolínea</h1>
    <nav>
        <ul>
            <li><a href="/iniciodesesion">Iniciar Sesión</a></li>
            <li><a href="/reserva">Mis Reservas</a></li>
            <li><a href="/vuelos">Vuelos</a></li>
            <li><a href="/contacto">Contactenos</a></li>
        </ul>
    </nav>
</header>

<section id="inicio">
    <h2>Bienvenido a Volando Aerolínea</h2>
    <p>Encuentra los mejores vuelos las mejores ofertas y reserva tu próximo viaje con nosotros.</p>
</section>

<section id="reservas">
    <h2>Reserva tu boleto</h2>
    <form>
        <label for="origen">Origen:</label>
        <input type="text" id="origen" name="origen" required>

        <label for="destino">Destino:</label>
        <input type="text" id="destino" name="destino" required>

        <label for="origen">¿Cuando Viajas?</label>
        <label for="fecha">Salida:</label>
        <input type="date" id="fecha" name="fecha" required>
        <label for="fecha">Regreso:</label>
        <input type="date" id="fecha" name="fecha" required>

        <div class="container">
            <h2>¿Con quien viajas?</h2>
            <select id="miLista">
                <option value="opcion1">Selecciona una opción</option>
                <option value="opcion1">Adultos (igual o mayores a 12 años.)</option>
                <option value="opcion2">Niños (2 - 11 años.)</option>
                <option value="opcion2">Bebes (Menores a 2 años.)</option>
            </select>
    
        </div>
    
 
    

        <input type="submit" value="Buscar vuelos">
    </form>
</section>

<section id class="vuelos">
    <h2>Vuelos en Oferta</h2>
    <ul>
        <li>
            <h3>Vuelo Nº: AV9316</h3>
            <p>Airbus A320-100/200</p>
            <p>Clase: Económica</p>
            <p>Fecha: 20 de Septiembre de 2023</p>
            <p>Origen: Bogota</p>
            <p>Destino: Medellin</p>
        </li>
        <!-- Agrega más vuelos aquí -->
        <li>
            <h3>Vuelo Nº: AV1530</h3>
            <p>Airbus A820-500/200</p>
            <p>Clase: Ejecutiva</p>
            <p>Fecha: 21 de Septiembre de 2023</p>
            <p>Origen: Bogota</p>
            <p>Destino: Cali</p>
        </li>
        <li>
            <h3>Vuelo Nº: AV1530</h3>
            <p>Airbus A820-500/200</p>
            <p>Clase: Ejecutiva</p>
            <p>Fecha: 21 de Septiembre de 2023</p>
            <p>Origen: Bogota</p>
            <p>Destino: Cali</p>
        </li>
        <li>
            <h3>Vuelo Nº: AV1530</h3>
            <p>Airbus A820-500/200</p>
            <p>Clase: Ejecutiva</p>
            <p>Fecha: 21 de Septiembre de 2023</p>
            <p>Origen: Bogota</p>
            <p>Destino: Cali</p>
        </li>
        <li>
            <h3>Vuelo Nº: AV1530</h3>
            <p>Airbus A820-500/200</p>
            <p>Clase: Ejecutiva</p>
            <p>Fecha: 21 de Septiembre de 2023</p>
            <p>Origen: Bogota</p>
            <p>Destino: Cali</p>
        </li>
    </ul>
</section>

<section id="contacto">
    <h2>Contacto</h2>
    <p>Para consultas y reservas, contáctanos:</p>
    <address>
        <p>Teléfono: 123-456-7890</p>
        <p>Email: info@aerolinea-xyz.com</p>
    </address>
</section>

    <ul>
        <h2>Servicios Adicionales</h2>
        <li><a href="#">Añadir Equipaje</a></li>
        <li><a href="/reserva">Elegir Asiento</a></li>
        <li><a href="/vuelos">Ascenso a clase Ejecutiva</a></li>
        <li><a href="/contacto">Asistencia de viaje</a></li>
    </ul>

<div>
    <img src="../img/aerolinea.JPG">
</div>